altgraph==0.17.3
branca==0.6.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
customtkinter==5.1.2
darkdetect==0.8.0
decorator==5.1.1
folium==0.14.0
future==0.18.3
geocoder==1.38.1
idna==3.4
Jinja2==3.1.2
macholib==1.16.2
MarkupSafe==2.1.2
modulegraph==0.19.3
numpy==1.24.3
Pillow==9.5.0
pip==23.1.2
py2app==0.28.5
pyperclip==1.8.2
ratelim==0.1.6
requests==2.29.0
setuptools==65.5.1
six==1.16.0
tk==0.1.0
tkintermapview==1.29
urllib3==1.26.15
wheel==0.38.4
xmltodict==0.13.0
